In [ ]:
print("hello")

hello

In [ ]:
!kaggle datasets download -d mrigaankjaswal/crop-yield-prediction-dataset

Dataset URL: https://www.kaggle.com/datasets/mrigaankjaswal/crop-yield-prediction-dataset
License(s): CC0-1.0
Downloading crop-yield-prediction-dataset.zip to /content
  0% 0.00/217k [00:00<?, ?B/s]
100% 217k/217k [00:00<00:00, 59.8MB/s]

In [ ]:
import zipfile
import os

def unzip_folder(zip_file_path, extract_to_path):
    with zipfile.ZipFile(zip_file_path, 'r') as zip_ref:
        zip_ref.extractall(extract_to_path)

# Example usage
zip_file = '/content/crop-yield-prediction-dataset.zip'
extract_to = '/content/crop-yield-dataset'
unzip_folder(zip_file, extract_to)

In [ ]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import seaborn as sns
import matplotlib.pyplot as plt

In [6]:
df = pd.read_csv('crop-yield-dataset/yield_df.csv')

In [7]:
df.head()

,Unnamed: 0,Area,Item,Year,hg/ha_yield,average_rain_fall_mm_per_year,pesticides_tonnes,avg_temp
0,0,Albania,Maize,1990,36613,1485.0,121.0,16.37
1,1,Albania,Potatoes,1990,66667,1485.0,121.0,16.37
2,2,Albania,"Rice, paddy",1990,23333,1485.0,121.0,16.37
3,3,Albania,Sorghum,1990,12500,1485.0,121.0,16.37
4,4,Albania,Soybeans,1990,7000,1485.0,121.0,16.37

In [8]:
df.drop('Unnamed: 0',axis=1,inplace=True)

In [9]:
df.shape

(28242, 7)

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28242 entries, 0 to 28241
Data columns (total 7 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Area                           28242 non-null  object
 1   Item                           28242 non-null  object
 2   Year                           28242 non-null  int64
 3   hg/ha_yield                    28242 non-null  int64
 4   average_rain_fall_mm_per_year  28242 non-null  float64
 5   pesticides_tonnes              28242 non-null  float64
 6   avg_temp                       28242 non-null  float64
dtypes: float64(3), int64(2), object(2)
memory usage: 1.5+ MB

In [11]:
df.isnull().sum()

Area                             0
Item                             0
Year                             0
hg/ha_yield                      0
average_rain_fall_mm_per_year    0
pesticides_tonnes                0
avg_temp                         0
dtype: int64

In [12]:
df.duplicated().sum()

2310

In [13]:
df.drop_duplicates(inplace=True)

In [14]:
df.duplicated().sum()

0